<fieldset class="form">
  <div class="fieldcontain">
    <label for="tallyWags">Tally Wags</label>
    <select name="tallyWags" id="tallyWags" ng-model="vm.part.tallyWags" ng-options="tag for tag in vm.tagList track by tag.id" multiple=""></select>
  </div>
  <fieldset class="embedded address">
    <legend>Address</legend>
    <div class="fieldcontain required">
      <label for="address.city">City
        <span class="required-indicator">*</span>
      </label>
      <input required="" name="address.city" id="address.city" ng-model="vm.part.address.city" type="text" />
    </div>
    <div class="fieldcontain required">
      <label for="address.moved">Moved
        <span class="required-indicator">*</span>
      </label>
      <input required="" name="address.moved" id="address.moved" ng-model="vm.part.address.moved" type="date" />
    </div>
  </fieldset>
  <div class="fieldcontain required">
    <label for="foo">Foo
      <span class="required-indicator">*</span>
    </label>
    <select required="" name="foo" id="foo" ng-model="vm.part.foo" ng-options="partType for partType in vm.partTypeList track by partType.id"></select>
  </div>
  <div class="fieldcontain required">
    <label for="name">Name
      <span class="required-indicator">*</span>
    </label>
    <input required="" name="name" id="name" ng-model="vm.part.name" type="text" />
  </div>
  <div class="fieldcontain">
    <label for="bars">Bars</label>
    <a ui-sref="subPart.create({mainPartId: vm.part.id})">Add SubPart</a>
  </div>
</fieldset>