
<div class="fieldcontain required">
  <label for="workOrder">Work Order
    <span class="required-indicator">*</span>
  </label>

</div>

<div class="fieldcontain required">
  <label for="serialNumber">Serial Number
    <span class="required-indicator">*</span>
  </label>
<input type="number" required ng-model="vm.part.serialNumber" name="serialNumber" id="serialNumber"  />
</div>

<div class="fieldcontain required">
  <label for="quantity">Quantity
    <span class="required-indicator">*</span>
  </label>
<input type="number decimal" required ng-model="vm.part.quantity" name="quantity" id="quantity"  />
</div>

<div class="fieldcontain required">
  <label for="cost">Cost
    <span class="required-indicator">*</span>
  </label>
<input type="number decimal" required ng-model="vm.part.cost" name="cost" id="cost"  />
</div>

<fieldset class="embedded address">
  <legend>Address</legend>
<div class="fieldcontain required">
  <label for="address.city">City
    <span class="required-indicator">*</span>
  </label>
<input type="text" required ng-model="vm.part.address.city" name="address.city" id="address.city"  />
</div>
<div class="fieldcontain required">
  <label for="address.street">Street
    <span class="required-indicator">*</span>
  </label>
<input type="text" required ng-model="vm.part.address.street" name="address.street" id="address.street"  />
</div>
</fieldset>

<div class="fieldcontain required">
  <label for="description">Description
    <span class="required-indicator">*</span>
  </label>
<input type="text" required ng-model="vm.part.description" name="description" id="description"  />
</div>

<div class="fieldcontain required">
  <label for="type">Type
    <span class="required-indicator">*</span>
  </label>
<select ng-options='type.id as type.name for type in [{"id":"ELECTRICAL","name":"ELECTRICAL"},{"id":"MECHANICAL","name":"MECHANICAL"}]' required ng-model="vm.part.type" name="type" id="type" ></select>
</div>
