
<div class="fieldcontain">
  <label for="tallyWags">Tally Wags</label>
  <select ng-model="vm.part.tallyWags" name="tallyWags" id="tallyWags" ng-options="tag for tag in vm.tagList track by tag.id" multiple=""></select>
</div>

<div class="fieldcontain required">
  <label for="foo">Foo
    <span class="required-indicator">*</span>
  </label>
  <select required="" ng-model="vm.part.foo" name="foo" id="foo" ng-options="partType for partType in vm.partTypeList track by partType.id"></select>
</div>

<div class="fieldcontain required">
  <label for="name">Name
    <span class="required-indicator">*</span>
  </label>
  <input required="" ng-model="vm.part.name" name="name" id="name" type="text" />
</div>

<div class="fieldcontain">
  <label for="bars">Bars</label>
  <a ui-sref="subPart.create({mainPartId: vm.part.id})">Add SubPart</a>
</div>
