<div class="nav" role="navigation">
    <ul>
        <li><a ui-sref="index" class="home">Home</a></li>
        <li><a ui-sref="part.create" class="create">New Part</a></li>
    </ul>
</div>
<div id="list-part" class="content scaffold-list" role="main">
    <h1>Part List</h1>
    <table>
        <thead>
        <tr>
            
                <th>Work Order</th>
            
                <th>File</th>
            
                <th>Serial Number</th>
            
                <th>Cost</th>
            
                <th>Address</th>
            
                <th>Due Date</th>
            
                <th>Description</th>
            
        </tr>
        </thead>
        <tbody>
            <tr ng-class="{'even': $index%2 == 0, 'odd': $index%2 == 1}" ng-repeat="part in vm.parts">
                
                <td>{{part.workOrder}}</td>
                
                <td>{{part.file}}</td>
                
                <td>{{part.serialNumber}}</td>
                
                <td>{{part.cost}}</td>
                
                <td>{{part.address}}</td>
                
                <td>{{part.dueDate}}</td>
                
                <td>{{part.description}}</td>
                
            </tr>
        </tbody>
    </table>
    <!--    <div class="pagination">
            <g:paginate total="${partCount ?: 0}" />
        </div>-->
</div>