<div class="nav" role="navigation">
    <ul>
        <li><a ui-sref="index" class="home">Home</a></li>
        <li><a ui-sref="part.create" class="create">New Part</a></li>
    </ul>
</div>
<div id="list-part" class="content scaffold-list" role="main">
    <h1>Part List</h1>
    <table>
        <thead>
        <tr>
            
                <th>Name</th>
            
                <th>Part Type</th>
            
        </tr>
        </thead>
        <tbody>
            <tr ng-class="{'even': $index%2 == 0, 'odd': $index%2 == 1}" ng-repeat="part in vm.parts">
                
                    
                        <td><a ui-sref="part.show({id: part.id})">{{part.name}}</a></td>
                    
                
                    
                        <td>{{part.partType}}</td>
                    
                
            </tr>
        </tbody>
    </table>
    <!--    <div class="pagination">
            <g:paginate total="${partCount ?: 0}" />
        </div>-->
</div>