<div class="nav" role="navigation">
    <ul>
        <li><a ui-sref="index" class="home">Home</a></li>
        <li><a ui-sref="part.create" class="create">New Part</a></li>
    </ul>
</div>
<div id="list-part" class="content scaffold-list" role="main">
    <h1>Part List</h1>
    <table>
        <thead>
        <tr>
            
                <th>Id</th>
            
                <th>Tally Wags</th>
            
                <th>Foo</th>
            
                <th>Name</th>
            
                <th>Bars</th>
            
        </tr>
        </thead>
        <tbody>
            <tr ng-class="{'even': $index%2 == 0, 'odd': $index%2 == 1}" ng-repeat="part in vm.partList">
                
                    
                        <td><a ui-sref="part.show({id: part.id})"><span>{{part.id}}</span></a></td>
                    
                
                    
                        <td><ul ng-repeat="tag in part.tallyWags">
  <li>
    <a ui-sref="tag.show({id: tag.id})">{{tag.toString()}}</a>
  </li>
</ul></td>
                    
                
                    
                        <td><a ui-sref="partType.show({id: part.foo.id})">{{part.foo.toString()}}</a></td>
                    
                
                    
                        <td><span>{{part.name}}</span></td>
                    
                
                    
                        <td><ul ng-repeat="subPart in part.bars">
  <li>
    <a ui-sref="subPart.show({id: subPart.id})">{{subPart.toString()}}</a>
  </li>
</ul></td>
                    
                
            </tr>
        </tbody>
    </table>
    <!--    <div class="pagination">
            <g:paginate total="${partCount ?: 0}" />
        </div>-->
</div>