<div class="nav" role="navigation">
    <ul>
        <li><a ui-sref="index" class="home">Home</a></li>
        <li><a class="list" ui-sref="part.list" class="list">Part List</a></li>
        <li><a class="create" ui-sref="part.create" class="create">New Part</a></li>
    </ul>
</div>
<div id="show-part" class="content scaffold-show" role="main">
    <h1>Show Part</h1>
    <ol class="property-list part">
  <li class="fieldcontain">
    <span id="tallyWags-label" class="property-label">Tally Wags</span>
    <div class="property-value" aria-labelledby="tallyWags-label">
      <ul>
        <li ng-repeat="tag in vm.part.tallyWags">
          <a ui-sref="tag.show({id: tag.id})">{{tag.toString()}}</a>
        </li>
      </ul>
    </div>
  </li>
  <fieldset class="embedded address">
    <legend>Address</legend>
    <li class="fieldcontain">
      <span id="address.city-label" class="property-label">City</span>
      <div class="property-value" aria-labelledby="address.city-label">
        <span>{{vm.part.address.city}}</span>
      </div>
    </li>
    <li class="fieldcontain">
      <span id="address.moved-label" class="property-label">Moved</span>
      <div class="property-value" aria-labelledby="address.moved-label">
        <span>{{vm.part.address.moved | date:'yyyy-MM-dd HH:mm:ss Z'}}</span>
      </div>
    </li>
  </fieldset>
  <li class="fieldcontain">
    <span id="foo-label" class="property-label">Foo</span>
    <div class="property-value" aria-labelledby="foo-label">
      <a ui-sref="partType.show({id: vm.part.foo.id})">{{vm.part.foo.toString()}}</a>
    </div>
  </li>
  <li class="fieldcontain">
    <span id="name-label" class="property-label">Name</span>
    <div class="property-value" aria-labelledby="name-label">
      <span>{{vm.part.name}}</span>
    </div>
  </li>
  <li class="fieldcontain">
    <span id="bars-label" class="property-label">Bars</span>
    <div class="property-value" aria-labelledby="bars-label">
      <ul>
        <li ng-repeat="subPart in vm.part.bars">
          <a ui-sref="subPart.show({id: subPart.id})">{{subPart.toString()}}</a>
        </li>
      </ul>
    </div>
  </li>
</ol>
    <form ng-submit="vm.delete()">
        <fieldset class="buttons">
            <a class="edit" ui-sref="part.edit({id: vm.part.id})">Edit</a>
            <input class="delete" type="submit" value="Delete" onclick="return confirm('Are you sure?');" />
        </fieldset>
    </form>
</div>