<div class="nav" role="navigation">
    <ul>
        <li><a ui-sref="index" class="home">Home</a></li>
        <li><a ui-sref="toy.create" class="create">New Toy</a></li>
    </ul>
</div>
<div id="list-toy" class="content scaffold-list" role="main">
    <h1>Toy List</h1>
    <table>
        <thead>
        <tr>
            
                <th>Serial Number</th>
            
                <th>Cost</th>
            
                <th>Address</th>
            
                <th>Due Date</th>
            
                <th>Description</th>
            
                <th>Time Zone</th>
            
                <th>Type</th>
            
        </tr>
        </thead>
        <tbody>
            <tr ng-class="{'even': $index%2 == 0, 'odd': $index%2 == 1}" ng-repeat="toy in vm.toys">
                
                    
                        <td><a ui-sref="toy.show({id: toy.id})">{{toy.serialNumber}}</a></td>
                    
                
                    
                        <td>{{toy.cost}}</td>
                    
                
                    
                        <td>{{toy.address}}</td>
                    
                
                    
                        <td>{{toy.dueDate}}</td>
                    
                
                    
                        <td>{{toy.description}}</td>
                    
                
                    
                        <td>{{toy.timeZone}}</td>
                    
                
                    
                        <td>{{toy.type}}</td>
                    
                
            </tr>
        </tbody>
    </table>
    <!--    <div class="pagination">
            <g:paginate total="${partCount ?: 0}" />
        </div>-->
</div>